* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.invisible-item {
  display: none;
}
.section-title {
  margin-bottom: 50px;
}
.main-section {
  padding-top: 95px;
}
@import "../SASS/_utilits/variable.scss";
@import "../SASS/_components/normolize.scss";
@import "../SASS/_css/_header/header.scss";
@import "../SASS/_css/_banner/banner.scss";
@import "../SASS/_css/_drop-modal/drop.scss";
@import "../SASS/_css/_Advantages/Advantages.scss";
@import "../SASS/_css/_portfolio/portfolio.scss";
@import "../SASS/_css/_team/team.scss";
@import "../SASS/_css/_customer/customer";
@import "../SASS/_css/_adress-bottom/adress-bottom";
@import "../SASS/_css/_social-network/social-bottom";
@import "../SASS/_css/_input-bottom/input-bottom";
@import "../SASS/_css/footer/footer";
