* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.invisible-item {
  display: none;
}
.section-title {
  margin-bottom: 50px;
}
.main-section {
  padding-top: 95px;
}
@import "../SASS/_utilits/variable.scss";
@import "../SASS/_components/normolize.scss";
@import "../SASS/_header/header";
@import "../SASS/_banner/banner";
@import "../SASS/_drop-modal/drop";
@import "../SASS/_Advantages/Advantages";
@import "../SASS/_portfolio/portfolio";
@import "../SASS/_team/team";
@import "../SASS/_customer/customer";
@import "../SASS/_adress-bottom/adress-bottom";
@import "../SASS/_social-network/social-bottom";
@import "../SASS/_input-bottom/input-bottom";
@import "../SASS/footer/footer";
