* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
.invisible-item {
  display: none;
}
@import "../SASS/_utilits/variable.scss";
@import "../SASS/_portfolio-header/portfolio-header";
@import "../SASS/_portfolio-navigation/navigation";
@import "../SASS/_portfolio-main/main";
@import "../SASS/portfolio-adress-bottom/adress-bottom";
@import "../SASS/portfolio-social-link/portfolio-social-link";
@import "../SASS/portfolio-input-bottom/input-bottom";
@import "../SASS/footer/footer";
