footer p {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}
footer {
  width: 100%;
  background-color: $footer-color;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
